<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!-- Start Face ID -->
	<key>NSFaceIDUsageDescription</key>
	<string>Why is my app authenticating using face id ?</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<!-- Start Face ID -->

	<key>UIBackgroundModes</key>
<array>
  <string>fetch</string>
  <string>remote-notification</string>
</array>

	<!-- Notification Permission -->
	<key>NSUserNotificationsUsageDescription</key>
	<string>We need permission to send you notifications about your orders, appointments, and important updates.</string>
	<!-- End Notification Permission -->

<key>CFBundleURLTypes</key>
<array>
  <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLSchemes</key>
    <array>
      <string>com.googleusercontent.apps.167167966746-jn3etauvntmk5q390pj5ifsradn31225</string>
    </array>
  </dict>
</array>
<!-- Google Sign-In Configuration -->
    <key>GIDClientID</key>
    <string>167167966746-jn3etauvntmk5q390pj5ifsradn31225.apps.googleusercontent.com</string>

    <key>GIDServerClientID</key>
    <string>167167966746-jn3etauvntmk5q390pj5ifsradn31225.apps.googleusercontent.com</string>


<key>LSApplicationQueriesSchemes</key>
<array>
  <string>google</string>
</array>

	<!-- Location Permissions -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires your location to offer navigation assistance and local weather updates.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires continuous access to your location to enable real-time location tracking for safety features and travel updates.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires continuous access to your location to enable real-time location tracking for safety features and travel updates.</string>
	<!-- End Location Permissions -->

	<!-- Camera and Media Permissions -->
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to allow you to take photos and videos within the app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photo and video library to save media from the app, allowing you to keep and share your creations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Our app needs access to your photo and video gallery to let you select media for creating and sharing custom story posts. For instance, you can pick images and videos from your gallery to include in a story that you can edit and post directly within the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record audio when capturing videos within the app.</string>
	<key>RPScreenRecordingUsageDescription</key>
	<string>Wefix needs screen recording permission to capture your screen for support, diagnostics, or training purposes.</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<!-- End Camera and Media Permissions -->
	
	<!-- Start Local Network -->
	<key>NSLocalNetworkUsageDescription</key>
	<string>Wefix needs access to your local network to discover and connect with nearby devices and services essential for app functionality.</string>
	<!-- End Local Network -->



	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Wefixapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>wefixapp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
